* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
}

/* html {
  background: radial-gradient(circle at bottom, navy 0, #000 100%);
} */

body {
  background: radial-gradient(circle at bottom, navy 0, #000 100%);
  height: 100vh;
}

.todo-field {
  display: block;
}

.todo-question {
  color: #f8b34b;
  margin: 32px 0;
  font-size: 24px;
}

.todo-app {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 520px;
  min-height: 600px;
  background: #161a2b;
  text-align: center;
  margin: 128px auto;
  border-radius: 10px;
  padding-bottom: 32px;
}

.todo-form {
  margin: 0 0 32px;
}

.todo-input {
  padding: 14px 32px 14px 16px;
  border-radius: 4px 0 0 4px;
  border: solid 2px #0cffc2;
  width: 320px;
  outline: none;
  background: transparent;
  color: #fff;
}

.todo-input.edit {
  padding: 14px 32px 14px 16px;
  border-radius: 4px 0 0 4px;
  border: solid 2px #149fff;
  width: 320px;
  outline: none;
  background: transparent;
  color: #fff;
}

::placeholder {
  color: rgb(224, 6, 213);
  font-size: 1em;
}

.todo-button {
  padding: 16px;
  border: none;
  outline: none;
  border-radius: 0 4px 4px 0;
  color: #fff;
  background: linear-gradient(90deg, #5d0cff, #9b00fa);
  cursor: pointer;
  text-transform: capitalize;
}

.delete-icon {
  background-image: url(/delete-icon.svg);
  width: 24px;
  height: 24px;
  margin-right: 5px;
  display: inline-block;
  cursor: pointer;
}

.edit-icon {
  background-image: url(/edit-icon.svg);
  width: 24px;
  height: 24px;
  display: inline-block;
  cursor: pointer;
}

.todo-row {
  display: flex;
  justify-content: space-between;
  width: 90%;
  border-radius: 5px;
  align-items: center;
  /* border: none; */
  margin: 4px auto;
  padding: 16px;
  color: #fff;
  background: linear-gradient(39deg, #24001f 6%, #090979 44%, #00d4ff);
}

.todo-task {
  flex: 1;
  display: flex;
  flex-flow: row left;
}

.todo-row:nth-child(4n + 1) {
  background: linear-gradient(39deg, #143e91 4%, #e30b0b 45%, #00ffde);
}
.todo-row:nth-child(4n + 2) {
  background: linear-gradient(39deg, #5e0404 4%, #f3f503 45%, #5e00ff);
}
.todo-row:nth-child(4n + 3) {
  background: linear-gradient(39deg, #2ca470 7%, #f503cf 42%, #099de4);
}

.checked {
  text-decoration: line-through;
  opacity: 0.5;
}

#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  inset: 0px;
  background-color: rgba(255, 255, 255, 0.75);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}

#overlay-message--box {
  /* background: #6a6e6d; */
  background: linear-gradient(39deg, #787c7a 7%, #dab143 42%, #099de4);
  border-radius: 30px;
  justify-content: center;
  height: 135px;
  width: auto;
  text-align: center;
  margin: 50px 25px 0;
}

#overlay-message--box h2 {
  color: #f71717;
  margin: 0 0 15px;
  height: 20px;
}

#overlay-message--box p {
  font-size: 1.2em;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

#overlay-message--box button {
  padding: 16px;
  border: none;
  border-radius: 0 20px 0 20px;
  cursor: pointer;
  outline: none;
  background: linear-gradient(90deg, #5d0cff, #9b00fa);
  color: #fff;
  margin-top: 15px;
  cursor: pointer;
}
